*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

main{
    background: repeating-linear-gradient(#fff,#fff,#fff,#fff, #cccccc, #666) ;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/*ESTILOS HEADER*/
.navBar{
    height: 10vh;
    display: flex;
    background-color: #333333af;
    justify-content: space-between;
    color: #fff;
    position: fixed;
    z-index: 10000;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    
}

.logo img{
   height: 10vh;
   margin-left: 20px;
}

.navLinks{
    display: flex;
    gap: 25px;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 20px;
}

.navLinks a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navLinks a:hover{
    transform: scale(1.1);
    color: #ff2c2c;
    transition: 0.5s;
}

/*ESTILOS SECTION INICIO*/
.inicio{
    display: flex;
    height: 120vh;
    width: 100%;
    background-image: url(./imagens/apartamento.jpg);
    background-size: cover;
  

}



.apresentacao{
    height: 100%;
    right: 0;
    width: 100%;
    background:  linear-gradient(180deg,#0000001c,#0000002c,#0000003a,#0000004b,#00000057,#00000062, #fff);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.textoApresentacao{
    margin-top: 55vh;
    margin-left: 20px;
    color: #fff;
}

.textoApresentacao h1{
    font-size: 80px;
}

.textoApresentacao h2{
    font-size: 60px;
}

.btnSeta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    
   
}

.btnSeta a img{
    border: solid 2px #fff;
    border-radius: 50px;
    rotate: 90deg;
}

.btnSeta a img:hover{
    transform: scale(1.08);
    box-shadow: 0px 0px 10px  #fff;
    transition: 0.3s;
    cursor: pointer;
}


/*ESTILOS destaques*/

.destaques{
    min-height: 200vh;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    
    
}
.titulo{
    text-align: center;
    width: 100%;
    margin-top: 100px;
    
}
.titulo h1{
    font-size: 35px;
}

.destaques-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;

}
.container{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 20px;

}

.container:hover .flip{
    transform: rotateY(180deg);
}

.flip{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: 0.8s;
}

.frente, .tras{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    box-shadow: 0px 0px 18px #000000d2;
    backface-visibility: hidden;
    
}

.frente{
    display: flex;
    color: #000000;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 10px;
}
.frente p{
    width: 100%;
    line-height: 20px;    
    background-color: #f0f0f0a8;
    font-size: 15px;
    padding-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.frente h2{
    width: 100%;
    background-color:  #f0f0f0a8;
    font-size: 20px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius:9px ;
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.tras{
    background-color: rgb(99, 99, 99);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    
}

#exemplo1{
    background-image:url(./imagens/planta1.jpg);
    background-size: cover;
    background-position: center ;
    
    
    
    
}
#exemplo1Tras{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imagens/planta1.jpg);
    background-size: cover;
    background-position: center ;
}

.exemplo1 p{
    color: #fff;
    text-align: left;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    
}


/*ESTILOS CONTATO*/

.cadastro{
    display: flex;
    height: 100vh;
    padding-top: 100px;
}
.contato{
    height: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-size: cover;
}

.containerCima{
    display: flex;
    top: 0;
    width: 100%;
   
    color: #000000;
    flex-direction: column;
    align-items: center;

}

.containerCima h2{
    overflow: hidden;
}

.logoInicio{
    height: 20vh;
    width: 100px;
}
.containerBaixo{
    display: flex;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    color: #000;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
}

/*ESTILOS FORM*/
form{
    background-color: #f1f1f1;
    width: 400px;
    box-shadow: 2px 2px 2px 2px #00000057,
                -2px 2px 2px 2px #00000057;
    align-items: center;
    padding-bottom: 10px;
    
}

form h2{
    margin-top: 50px;
    padding: 5px;
}

form h3{
    padding: 5px;
    text-align: left;
    margin-left: 47px;
    margin-right: 21px;
    font-size: 18px;

}
.input-single input{
    border: solid 1px #9b9b9b;
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;

}

.input-single input::placeholder{
    padding: 10px, 10px, 10px, 0;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}


.btn{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    
    
}

.btn button{
    padding: 10px;
    width: 150px;
    text-align: center;
    background-color: #ffffff00;
    border: solid 1px #9b9b9b;
    border-radius: 5px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.btn button:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.5s;
}